@if (show) {
<div class="flex flex-col bg-primary pb-4">
    <div class="sticky top-0">
        <app-navbar></app-navbar>
    </div>
    <div class="grid grid-cols-3 flex-grow pl-6">
        <h1 class="text-white text-4xl font-bangers mb-8 m-10">
            {{ "about.headings.about" | translate }}
        </h1>
        <div
            class="col-start-1 col-span-2 m-10 items-center justify-center h-591 overflow-y-auto pr-8 custom-scrollbar">
            <div *ngFor="let paragraph of paragraphs$ | async">
                <p class="text-xl font-sans text-white text-justify mb-8">
                    {{ paragraph.paragraph | translate }}
                </p>
            </div>
        </div>
        <div class="flex col-start-3 col-span-1 mr-10 items-center justify-center">
            <div class="flex items-center">
                <div class="flex justify-center items-center w-340 h-591 rounded-20px shadow-custom-image-container">
                    <img class="w-285 h-536" src="assets/images/Pam_portfolio_photo-min.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>
} @else {
<div class="flex justify-center items-center h-screen w-screen overflow-hidden  bg-primary">
    <img class="animate-runaccross" src="assets/images/spaceship.svg" alt="Error loading image" />
</div>
}